body{
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
header{
    position: relative;
}
header img{
    box-shadow: 0 7px 9px 0 rgb(0,0,0);
    margin-left: 20%;
}
ul.nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 20%;
    list-style-type: none;
    height: 100%;
    z-index: 2;
    box-shadow: 0 0 8px 0 rgba(0,0,0,1);
    animation: slidein 4s;
}
@keyframes slidein{
    0%{left:-100%;}
    100%{left:0;}
}
ul.nav li i{
    padding-right: 5px;
}
ul.nav li a{
    text-decoration: none;
    display: block;
    color: black;
    padding-left: 20px;
    line-height: 85px;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.4s;
}
ul.nav li a:hover, ul.nav li a:active{
    background-color: rgb(217,217,217);
    border-left: 5px solid black;
}
h1#hello{
   position: absolute;
   left: 25%;
   top: 32%;
   max-width: 100%;
   color: white;
   border-left: 2px solid white;
   padding-left: 14px;
   font-size: 35px;
}
span.title{
    font-size: 14px;
}
span.name{
    color: powderblue;
}
a#contactbtn{
    padding: 8px;
    text-decoration: none;
    color: black;
    border-radius: 24px;
    transition: box-shadow 0.5s;
    background-color: linen;
    position: absolute;
    top: 74%;
    left: 25%;
    font-family: tahoma;
    animation: fade 1.5s infinite;
}
@keyframes fade{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
a#contactbtn:hover{
    box-shadow: 0 0 16px 8px rgba(225,225,225,1);
}
div.menubar{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    display: none;
    background: rgb(1, 14, 22);
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    z-index: 4;
}
.menubtn{
    cursor: pointer;
    display: inline;
    font-size: 16px;
    color: white;
}
div.content{
    margin-left: 20%;
    max-width: 80%;
    font-family: Comic sans MS;
    position: relative;
}
div h3{
    margin: auto;
    width: 120px;
    background-color: transparent;
    color: black;
    padding: 14px;
    text-align: center;
    clear: left;
    border-bottom: 3px solid rgb(0,225,150);
    font-family: sans-serif;
    font-size: 14px;
    clear: left;
}
div.avatar{
    padding: 10px;
    position: relative;
}
div.avatar img{
    border-radius: 50%;
    transition: transform 4s;
}
div.mydesc{
    position: absolute;
    top: 21%;
    left: 44%;
    font-size: 14px;
}
.focus{
    text-decoration: none;
    color: rgb(2, 118, 118);
}
div.cutting{
    width: 100%;
    height: 30px;
    background: url('computer.jpg') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-top: 5px;
}
div.qualities-border{
    margin:auto;
    width: 95%;
    display: flex;
    justify-content: center;
}
div.qualities{
    width: 180px;
    height: 237px;
    margin: 14px;
}
div.qualities img{
    margin: 0 0 10px 25px;
    padding: 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
    transition: box-shadow 0.5s;
}
div.qualities img:hover{
    box-shadow: none;
}
div.subtexts{
    text-align: center;
    font-size: 12px;
}
p.ends{
    color: lightseagreen;
    margin: 5px;
    border-left: 3px solid rgb(0,225,150);
}
div.gallery{
    float: left;
    position: relative;
    width: 160px;
    margin:5px 3px;
    border:none;
}
div.gallery img{
    width: 100%;
}
div.skill-border{
    width: 80%;
    padding: 14px 18px 14px 26px;
    margin-left: 8%;
    border-radius: 24px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    margin-top: 10px;
    background:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.desc{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif, arial;
    font-weight: bold;
}
div#proj_flex{
    padding: 7px;
    margin: 5px auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
}
.work{
    width: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.work img{
    width: 100%;
    height: 100%;
    transition: transform 2s;
}
.work:hover img{
    transform: scale(1.2);
}
.work b{color: rgb(75, 255, 255);}
.work p{
    color: white;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 15px;
    left: 25px;
    right: 25px;
    bottom: 15px;
    text-align: center;
    display: none;
    border-radius: 14px;
    transition: display 4s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 15px 60px;
}
.work:hover p{
    display: block;
}
.work a[class="git"]{
    text-decoration: none;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 35%;
    background: white;
    color: rgb(99, 99, 99);
    padding: 4px;
    font-size: 20px;
}
.slide{
    background-image: url('bcg-0.png'); /*center/cover no-repeat;*/
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    animation: change 4s infinite;
}
@keyframes change{
    0%{background-image: url('bcg-0.png');}
    50%{background-image: url('bcg-1.png');}
    100%{background-image: url('bcg-0.png');}
}
.slide button.btn{
    background: rgba(0,0,0,0.8);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}
.prevBtn{
    position: absolute;
    top: 45%;
    left: 0;
}
.nextBtn{
    position: absolute;
    top: 45%;
    right: 0;
}
.slide button.btn:hover,.slide button.btn:active{
    border: 1px solid white;
}

div#contact{
    background-color: rgb(1, 14, 22);
    color: grey;
    font-size: 14px;
    font-family: sans-serif;
    padding: 10px;
    position: relative;
    height: 445px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}
div#contact h3{
    color: white;
    border: none;
}
p.footer{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 20px 0 0 0;
    padding:20px 0;
}
div#downloadbtn{
    border-radius: 5px;
    padding:5px;
    margin:20px auto;
    text-align: center;
    width: 200px;
    background: rgb(45, 142, 159);
    transition: background 0.4s;
}
div#downloadbtn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
}
div#downloadbtn:hover,div#downloadbtn:active{background: rgb(9, 246, 167); }
.Lets{
    font-family: Comic sans MS;
}
.s{color: lime;}
.p{color: yellow;}
.e{color: red;}
.c{color: yellow;}
.i{color: blue;}
.a{color: red;}
.l{color: lime;}
span.reach{
    font-weight: 900;
}
.footer a{
    color: white;
    text-decoration: none;
}
.bottom-nav{
    list-style: none;
    text-align: left;
    margin-left: -40px;
}
.bottom-nav a{
    text-decoration: none;
    line-height: 1.7;
    color: rgb(98, 96, 96);
}
.bottom-nav a:hover, .bottom-nav a:active{
    color: white;
}
div.social{
    text-align: center;
    padding: 5px;
}
div.social a{
    padding:10px;
    text-decoration: none;
    color: gray;
    font-size: 24px;
}
div.social a:hover, div.social a:active{color: white;}
p.cpr{text-align: center; font-size: 11px;}

@media screen and (max-width: 900px){
    div.mydesc{
        font-size: 11px;
        top: 7%;
    }
    div.qualities{
       margin: auto;
    }
    div.subtexts{
        text-align: center;
    }
    .work{
        width: 85%;
        height: 200px;
    }
}

@media screen and (max-width: 500px){
    header img{
        margin-left: 0;
        width: 100%;
    }
    ul.nav{
        display: block;
        width: 100%;
        z-index: 1;
        font-size: 12px;
        top: 44px;
        left: 0;
        animation: none;
        /***/
        height: 0;
        overflow: hidden;
    }
    ul.active{
        height: 210px;
    }
    ul.nav li a{
        font-size: 12px;
        line-height: 2;
        padding: 5px;
    }
    h1#hello{
        font-size: 19px;
        left: 15%;
    }
    span.title{
        font-size: 12px;
    }
    a#contactbtn{
        padding: 6px;
        font-size: 12px;
        top: 60%;
    }
    div.menubar{
        display: block;
    }
    div.content{
        margin-left: 0;
        max-width: 100%;
        overflow-x: hidden;
    }
    div.avatar{height: 230px;}
    div.avatar img{
        width: 70px;
        height: 70px;
    }
    div.mydesc{
        font-size: 11px;
        top: 36%;
        left: 2%;
    }
    div.cutting{font-size: 10px;}
    p.ends{
        font-size: 12px;
        border-bottom-width: 1px;
    }
    div.qualities-border{
        margin-bottom: 10px;
        justify-content: space-between;
    }
    div.qualities{
        width: 40%;
        height: 150px;  
    }
    div.qualities img{
        width: 55px;
        height: 55px;
        margin:auto;
    }
    div.subtexts{
        font-size: 10px;
        text-align: center;
        padding: 2px;
    }
    div.gallery{
        width: 60px;
        margin: 5px 0 0 0;
    }
    div.gallery img{
        height: 60px;
    }
    div.skill-border{
        width: 60%;
        margin: auto;
    }
    div.desc{
        font-size: 9px;
    }
    .work{
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
    }
    .work p{
        font-size: 11px;
        top: 0;
        bottom: 0;
        left: 60%;
        right: 0;
        padding: 3px;
        color: white;
        margin: 0;
        display: block;
        border-radius: 0;
        text-align: left;
    }
    .work a[class="git"]{
        padding: 1px 20px;
        font-size: 14px;
        border-radius: 0;
    }
    div#contact{
        font-size: 11px;
    }
    div#downloadbtn{width: 140px;}
    div#downloadbtn a{font-size: 11px;}
    div.social a{font-size: 18px;}
    p.cpr{font-size: 11px;}
}
